@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  .inner-link {
    display: block;
    height: 100%;
    width: 100%;
  }
  .top-4-58 {
    top: 4.58rem;
  }
  .footer-links li a:hover {
    border-bottom: 1px solid #fff;
  }
}

@layer components {
  .container {
    @apply m-auto max-w-6xl;
  }
  .navlink {
    @apply my-auto;
  }
  .navlink button {
    @apply pr-4 text-gray-700 font-semibold;
  }
  .navlink_inner {
    @apply pr-4 text-gray-700 font-semibold;
  }
  .btn-green {
    @apply mr-4 font-semibold bg-secondary transition-colors hover:bg-secondary-hover py-2 px-8 text-white rounded-full focus:outline-none;
  }
  .btn-white {
    @apply mr-4 font-semibold text-gray-700 transition-colors hover:text-secondary focus:outline-none;
  }
  .input {
    @apply p-2 focus:outline-none border border-gray-400 rounded-full placeholder-gray-700 font-semibold text-gray-500 text-sm;
  }
  .menu_inner_selector {
    @apply text-left p-4 mb-1 cursor-pointer relative;
  }
  .menu_inner_selector_title {
    @apply text-left text-gray-700 font-semibold;
  }
  .menu_inner_selector_b_title {
    @apply text-left mt-2 text-gray-400;
  }
  .menu_inner_selector_icon {
    @apply absolute top-1/3 right-4 w-4 h-4;
  }
  .menu_inner_selector_link {
    @apply text-left flex mt-1;
  }
  .menu_inner_selector_link:hover span {
    @apply border-b border-secondary;
  }
  .big-button {
    @apply block rounded-xl bg-secondary w-1/3 p-4 hover:text-secondary hover:bg-white;
  }
  .big-button:hover svg {
    @apply fill-secondary;
  }
  .tag {
    @apply py-2 cursor-pointer ml-2 mt-2 hover:bg-gray-100 rounded-3xl px-4 border border-gray-400;
  }
}
